numpy<2.1.0
scipy
matplotlib
mpyez
custom-inherit
pytest
jupyter
notebook
build
memory_profiler
sphinx
sphinx_rtd_theme
sphinx_copybutton
sphinx_gallery
sphinxcontrib-napoleon
numpydoc
nbsphinx
nbsphinx_link
sphinx_autobuild
