numpy<2.1.0
scipy
matplotlib
mpyez
statsmodels
custom-inherit
Deprecated
pytest
pytest-cov
pandas
seaborn
astropy
jupyter
notebook
build
memory_profiler
sphinx>8
docutils<0.21
pydata_sphinx_theme
sphinx_copybutton
sphinx_gallery
sphinxcontrib-napoleon
numpydoc
nbsphinx
nbsphinx_link
sphinx_autobuild
black
mypy
pylint
nox
uv
types-Deprecated
scipy-stubs
optype