numpy<2.1.0
scipy
matplotlib
mpyez
statsmodels
custom-inherit
pytest
pandas
seaborn
astropy
jupyter
notebook
build
memory_profiler
sphinx>8
pydata_sphinx_theme
sphinx_copybutton
sphinx_gallery
sphinxcontrib-napoleon
numpydoc
nbsphinx
nbsphinx_link
sphinx_autobuild
