/* Optional: Ensure preformatted code wraps properly */
pre, code {
    white-space: pre-wrap;  /* Wrap long lines */
    word-wrap: break-word;  /* Break long words */
}

.centered-table td, .centered-table th {
    text-align: center;
}

.bd-page-width {
  max-width: 100%;  /* default is 88rem */
/* Set the parent container to use Flexbox */

.bd-sidebar-primary {
    width: 20%
}

.bd-main .bd-content .bd-article-container {
    max-width: 100em;
    padding: 2em;
}

.bd-sidebar-secondary {
    width: 25em;
}

.table {
    vertical-align: middle;
}
