/* Optional: Ensure preformatted code wraps properly */
pre, code {
    white-space: pre-wrap;  /* Wrap long lines */
    word-wrap: break-word;  /* Break long words */
}

.centered-table td, .centered-table th {
    text-align: center;
}

.bd-main .bd-content .bd-article-container {
  max-width: 100%;  /* default is 60em */
}

.bd-page-width {
  max-width: 90%;  /* default is 88rem */
}
